<div class="cloudinary-resource cloudinary-resource-resourcetype--{{ resource.resourceType }}
cloudinary-resource-format--{{ resource.format }}
cloudinary-resource-ext--{{ resource.getFileExtension() }}"
>
    <a href="{{ resource.secureUrl }}" target="_blank">
        {% if resource.resourceType == 'raw' %}
            {{ resource.getPublicId() }}
        {% else %}
            {{ resource.getThumbnail()|raw }}
        {% endif %}
    </a>
</div>