{% set imageClass = imageClass|default('') %}
{% set imageWidth = imageWidth|default(400) %}
{% set imageHeight = imageHeight|default(400) %}
{% set imageCrop = imageCrop|default('lfill') %}

<div class="cloudinary-resource cloudinary-resource-resourcetype--{{ resource.resourceType }}
cloudinary-resource-format--{{ resource.format }}
cloudinary-resource-ext--{{ resource.getFileExtension() }}"
>
    <div class="cloudinary-resource__image">
        {% if resource.resourceType == 'raw' %}
            {{ resource.getPublicId() }}
        {% else %}
            {{ keyteq_cmi_thumbnail(resource, {
                'class': imageClass,
                'width': imageWidth,
                'heigt': imageHeight,
                'crop': imageCrop
            }) }}
        {% endif %}
    </div>

    <div class="cloudinary-resource__meta">
        <a download href="{{ resource.secureUrl }}" target="_blank">{{ 'keyteq.cloudinary_meta_indexer.download'|trans }}</a>
    </div>

</div>